<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Demo application for geospatial visualization.">
    <meta name="author" content="@mgasvoda">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}{% endblock %} - ThreatMatrix</title>
  </head>

  <body>
    <!-- navigation -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Threat Matrix</a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Maps </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/points_map.html">Points</a>
                  <a class="navbar-item" href="/choro_map.html">Choro</a>
                </div>
          </div>
          <a class="navbar-item" href="/plots.html">Plots</a>
          <a class="navbar-item" href="https://github.com/mgasvoda/threatmatrix_frontend" target="_blank">GitHub</a>
          <a class="navbar-item" href="https://www.acleddata.com/data/" target="_blank">ACLED Data</a>
        </div>
      </div>
    </nav>

    <div class="container"> 
      {% block header %}{% endblock %}
    </div>

    <div class="container">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  </body>
</html>
